//====================================================================================================
.footer {
    background-color: $mainDarkColor;

    &__text {
        
    }

    &__container {
    }

    &__body {
    }
}
.text-footer {
    @include adaptiveValue("padding-top",60,40);
    @include adaptiveValue("padding-bottom",60,40);
    background: url('@img/footer/bg.jpg') top / cover no-repeat;

    &__container {
    }

    &__title {
        text-align: center;
        font-weight: bold;
        @include adaptiveValue("font-size",30 ,24 );
        line-height: math.div(46,30);
        color: $mainOrange;
        &:not(:last-child) {margin-bottom: em(30,30 );}
    }

    &__text {
        @include adaptiveValue("font-size",18 ,16 );
        line-height: math.div(27 ,18 );
        letter-spacing: 0.03em;
        color: #fff;
    }
}

.footer {

    &__container {
    }

    &__body {
    }
}
.body-footer {
    @include adaptiveValue("padding-top",100,40);
    @include adaptiveValue("padding-bottom",50,40);
    display: grid;
    @include adaptiveValue("gap", 35, 15);

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290),1fr));
        column-gap: rem(40);
        @include adaptiveValue("row-gap", 40, 20);
        &:not(:last-child) {
            padding: 0px 0px rem(30) 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }

    &__item {
    }

    &__bottom {
        color: rgba(255, 255, 255, 0.8);
        @media (min-width: em(1200)){
            display: flex;
            justify-content: space-between;
            gap: rem(20);
        }
    }

    &__rules {
        font-size: rem(14);
        line-height: math.div(27 , 14);
        max-width: rem(820);
    }

    &__copy {
        font-size: rem(14);
        line-height: math.div(27 , 14);
        span{
            white-space: nowrap;
        }
    }
}
.item-footer {

    &__spoller {
    }
}
.spoller-item-footer {

    &__item {
      
    }

    &__title {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        line-height: math.div(22 , 18);
        align-items: center;

        ._spoller-init &{
            &::after{
                content: "\e900";
                @extend %ic;
                margin-left: 10px;
                margin-top: 5px;
                font-size: 0.5em;
                transform: rotate(-90deg);
                color: #e8aa31;
                position: absolute;
                transition: transform 0.3s ease 0s;
                
            }
        }
        &._spoller-active{
            &::after{
                transform: rotate(0deg);
            }
        }
       
    }

    &__body {
        @include adaptiveValue("padding-top", 30, 20);
        @include adaptiveValue("padding-bottom", 30, 20);

    }
    
    &__text{
        max-width: rem(318);
        line-height: math.div(27 , 18);
        color: rgba(255, 255, 255, 0.8);

        a{
            color: $mainOrange;
            @media (any-hover: hover){
                &:hover{
                    text-decoration: underline
                }
            }
        }
    }

   
}
.menu-footer {
    &:not(:last-child) {
        @include adaptiveValue("margin-bottom",32,20);
    }
    &__list {
    }

    &__item {
        line-height: 1.5;
        display: flex;
        color: rgba(255, 255, 255, 0.8);
        &:not(:last-child) {margin-bottom: em(20, 18);}
        &::before{
            font-size: rem(19);
            margin: 0px em(10,15) 0px 0px;
        }
        
    }

    &__link {
        display: inline-flex;
        line-height: math.div(27 , 18);
        color: rgba(255, 255, 255, 0.8);
        &::before{
            font-size: rem(20);
            margin: 0px em(10,15) 0px 0px;
        }
        &._icon-footer-email{
            &::before{
               font-size: rem(13);
                
            }
        }
    }
}

.social-footer {
    display: flex;
    gap: rem(24);
    &__item {
    }

    &__link {
    }
}


//====================================================================================================
.footer-subscribe {

    &__label {
        line-height: math.div(22 , 18);
        display: block;
        color: rgba(255, 255, 255, 0.8);
        &:not(:last-child) {margin-bottom: em(10, 18);}
    }

    &__line {
        display: flex;
        border-radius: rem(3);
        overflow: hidden;
        position: relative;
        .form__error{
            position: absolute;
            font-size: rem(14);
            color: red;
            bottom: 15px;
            left: 230px;
        }
    }

    &__input {
        background: rgba(255, 255, 255, 0.05);
        
        height: rem(48);
        padding: 0px rem(20);
        color: rgba(255, 255, 255, 0.8);
        width: 100%;
        border: 1px solid #fff;
        border-right: none;
    }

    &__button {
        flex: 0 0 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mainOrange;
        &::before{
            color: #fff;
            font-size: rem(8);
            transform: rotate(-90deg);
        }
    }
}

//========================================================================================================================================================

